<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="icon" type="image/x-icon" href="weight.svg">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a onclick="location.reload();">Hi <%= username %>!</a></li>
            <li><a href="newWorkout">New Workout</a></li>
            <li><a href="">Compete</a></li>
            <li><a href="leaderboard">Leaderboard</a></li>
            <li><a href="login">Logout</a></li>
        </ul>
    </nav>
    <div id="stats">
        <ul id="push">
            <% if (user && user.workouts) { %>
                <% for (let i = 0; i < user.workouts.length; i++) { %>
                    <li><%= user.workouts[i] %> - <%= user.weights[i] %></li>
                <% } %>
            <% } else { %>
                <li>No workouts available.</li>
            <% } %>
        </ul>
        <ul id="pull">
            <% if (user && user.workouts) { %>
                <% for (let i = 0; i < user.workouts.length; i++) { %>
                    <li><%= user.workouts[i] %> - <%= user.weights[i] %></li>
                <% } %>
            <% } else { %>
                <li>No workouts available.</li>
            <% } %>
        </ul>
        <ul id="legs">
            <% if (user && user.workouts) { %>
                <% for (let i = 0; i < user.workouts.length; i++) { %>
                    <li><%= user.workouts[i] %> - <%= user.weights[i] %></li>
                <% } %>
            <% } else { %>
                <li>No workouts available.</li>
            <% } %>
        </ul>
    </div>
</body>
</html>